@import "react-toolbox/lib/variables";

.header-text {
  font-size: 20px;
  color: var(--palette-blue-grey-50);
}

.middle-button {
  margin: 0 8px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
