@import "react-toolbox/lib/button/theme.css";

.header-text {
  letter-spacing: 1px;
  font-size: 20px;
  color: var(--palette-blue-grey-50);
  display: flex;
  overflow: hidden;
  & span {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.middle-button {
  margin: 0 8px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.back-link {
  min-width: 34px;
  margin-right: 26px;
  padding: 0;
  vertical-align: middle;
}

.buttons-block {
  display: flex;
  & button:last-of-type {
    margin-left: 16px;
  }
}
