.assets-page-content {
  background: #faf9f9;
  margin: auto;
  margin-top: 16px;
  max-width: calc(1024px - 16px);
  padding: 8px;

  @media only screen and (max-width: 1024px) {
    margin: 16px;
  }
}
