.icon {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.icon-button {
  border-radius: 15px;
  display: block;
  padding: 4px;
  position: relative;

  &:hover {
    background: #EDEDED;
  }
}
