.string-date-picker {
  display: flex;
  align-items: center;
}

.remove-icon {
  cursor: pointer;
  transform: rotate(45deg) scale(0.7) translate(3px, 3px);
  opacity: 0.6;
  & span:first-of-type {
    display: none;
  }
  & span:last-of-type {
    display: block;
  }
  &:hover {
    opacity: 1;
    & span:first-of-type {
      display: block;
    }
    & span:last-of-type {
      display: none;
    }
  }
}
