.assets-header-width-wrapper {
  background: #014990;
  height: 54px;
  padding-top: 24px;

  .assets-header-wrapper {
    display: flex;
    color: white;
    max-width: 954px;
    padding: 0 36px;
    margin: auto;
    text-decoration: none;
    height: 50px;
    align-items: center;
    justify-content: space-between;
  }
}

.buttons > div:nth-of-type(2) {
  padding: 0 16px;
}

.buttons {
  :global {
    .global-button button > div > div {
      padding: 0;
    }
  }
  button {
    color: #2963A8;
    height: 32px !important;
    width: 135px !important;
    font-size: 13px !important;
    & > div {
      font-family: "HelveticaNeue", sans-serif !important;
      margin-top: -2px;
      margin-left: -3px;
    }
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.header-text {
  font-size: 20px;
  color: #f8f9fb;
}
