@import "react-toolbox/lib/variables";

.header-text {
  color: var(--palette-blue-grey-50);
  font-size: 20px;
  letter-spacing: 1px;
}

.middle-button {
  display: inline-block;
  margin: 0 16px;
}
