.filter-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  .header {
    color: #014990;
    font-size: 16px;
  }
  .flex-buttons {
    display: flex;
    .some-right-wrapper {
      margin-right: 16px;
    }
  }
}

.paginatable-table {
  padding: 16px
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-left: -8px;
  user-select: none;

  li {
    cursor: pointer;
    padding: 3px 6px;
    padding-bottom: 0;
    font-family: "HelveticaNeue", sans-serif;
    border-radius: 3px;
    &:hover:not(.active-page-link):not(.break-me) {
      background: #0077c8;
      color: white;
    }
    &.active-page-link {
      background: #c5c9cb;
    }
    a {
      line-height: 24px;
    }
  }
}
