@import "react-toolbox/lib/variables";

.filter-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  & .header {
    color: var(--appbar-color);
    font-size: 16px;
  }
  & .flex-buttons {
    display: flex;
    & .some-right-wrapper {
      margin-right: 16px;
    }
  }
}

.paginatable-table {
  padding: 16px;
  overflow: visible;
}

.pagination {
  display: flex;
  list-style-type: none;
  user-select: none;
  & .prev, & .next {
    height: 22px;
    padding: 0;
    & a {
      margin-top: -1px;
      display: block;
      width: 22px;
    }
  }

  & li {
    cursor: pointer;
    padding: 3px 4px;
    margin: 0 1px;
    height: 22px;
    border-radius: 3px;
    font-family: var(--preferred-font);

    &.active-page-link,
    &:hover:not(.break-me):not(.page-disabled) {
      background: var(--color-primary);
      color: var(--color-white);
    }

    &.page-disabled {
      opacity: 0.2;
    }

    &.page-disabled,
    &.active-page-link {
      cursor: default;
    }

    & a {
      line-height: 18px;
    }
  }
}

.no-assets-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.no-assets-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  min-height: 270px;
  justify-content: center;
  font-weight: 300;
  max-width:600px;
  margin: auto;
}
