@import "react-toolbox/lib/variables";

.droppable-container {
  height: 48px;
  max-width: 280px;
  width: 100%;
  border: 1px dashed #dcdada;
  border-radius: 4px;
  display: flex;
  background: var(--color-white);

  &.active {
    background: rgb(157, 198, 254);
  }

  &.can-drop {
    background: rgb(225, 236, 255);
  }

  &.filled {
    border: none;

    & .inlined-item {
      height: 100%;
      padding: 0 16px;
      max-width: calc(280px - 32px);
      width: 100%;
      margin: 0;
    }
  }
}

.field-name {
  font-size: 14px;
  color: var(--color-black);
  text-align: left;
  line-height: 34px;
  margin-bottom: -4px;
}
