@import "react-toolbox/lib/variables";

.droppable-container {
  background: var(--color-white);
  border: 1px dashed rgba(197, 207, 218, 1);
  border-radius: 4px;
  display: flex;
  height: 48px;
  max-width: 280px;
  width: 100%;

  &.multiple {
    flex-wrap: wrap;
    height: auto;
    max-width: calc(100% - 72px);
    padding: 16px;
    padding-bottom: 0;
    padding-right: 0;

    & > div {
      height: 48px;
      margin-bottom: 16px;
      margin-right: 16px;
    }

    & .empty-space {
      height: 50px;
      width: 280px;
    }

    &.active {
      background-color: #c6ddf2;
      border: 1px dashed #0077c8;

      & .empty-space {
        background-color: #0091e9;
        border: 1px dashed #0077c8;
      }
    }
  }

  &.active:not(.multiple):not(.filled) {
    background-color: #0091e9;
    border: 1px dashed #0077c8;
  }

  &.can-drop {
    background-color: #c6ddf2;
    border: 1px dashed #0077c8;

    &.multiple .empty-space {
      border: 1px dashed #0077c8;
    }
  }

  &.filled {
    border: none;
  }

  & .inlined-item {
    height: 100%;
    margin: 0;
    margin-left: 1px;
    max-width: calc(280px - 32px);
    padding: 0 16px;
    width: 100%;
  }
}

.field-name {
  color: var(--color-black);
  font-size: 14px;
  line-height: 34px;
  margin-bottom: -4px;
  text-align: left;
}

.sub-text {
  color: #6c717b;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 8px;
}

.error {
  & .field-name,
  & .sub-text {
    color: #fc6061;
  }

  & .droppable-container {
    border: 1px dashed #fc6061;
  }
}
