@import "react-toolbox/lib/variables";

.header-text {
  color: var(--palette-blue-grey-50);
  font-size: 20px;
  letter-spacing: 1px;
}

.middle-button {
  margin: 0 16px;
}

.header {
  position: relative;
  z-index: 2;
}

.back-link {
  margin-right: 26px;
  min-width: 34px;
  padding: 0;
  vertical-align: middle;
}
