.date-picker {
  margin-top: -13px;

  &.focused .label {
    color: #0078C8;
  }
}

.picker-inside-wrapper {
  align-items: center;
  display: flex;
  margin-left: 4px;
}

.remove-icon {
  cursor: pointer;
  opacity: .6;
  transform: rotate(45deg) scale(.7) translate(3px, 3px);

  & span:first-of-type {
    display: none;
  }

  & span:last-of-type {
    display: block;
  }

  &:hover {
    opacity: 1;

    & span:first-of-type {
      display: block;
    }

    & span:last-of-type {
      display: none;
    }
  }
}

.input-mask-wrapper {
  max-width: calc(100% - 28px);
  overflow: hidden;

  &.iconVisible {
    max-width: calc(100% - 52px);
  }
}

.input {
  background-color: transparent;
  border-bottom: 1px solid rgba(74, 74, 74, .12);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: rgb(33, 33, 33);
  display: block;
  font-size: 14px;
  outline: none;
  padding: 8px 0;
}

.label {
  color: #6C717B;
  display: block;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toolbox-date-picker-input {
  & label {
    opacity: 0;
  }

  & input {
    bottom: -8px;
    color: transparent;
    height: 20px;
    left: -29px;
    position: absolute;
    width: 20px;
    z-index: 2;
  }
}

.toolbox-date-picker-wrapper {
  margin-top: -30px;
  position: relative;
}
