.date-picker {
  margin-top: -13px
}

.picker-inside-wrapper {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.remove-icon {
  cursor: pointer;
  transform: rotate(45deg) scale(0.7) translate(3px, 3px);
  opacity: 0.6;
  & span:first-of-type {
    display: none;
  }
  & span:last-of-type {
    display: block;
  }
  &:hover {
    opacity: 1;
    & span:first-of-type {
      display: block;
    }
    & span:last-of-type {
      display: none;
    }
  }
}

.input-mask-wrapper {
  &.iconVisible {
    max-width: calc(100% - 52px);
  }
  max-width: calc(100% - 28px);
  overflow: hidden;
}

.input {
  background-color: transparent;
  border-bottom: 1px solid rgba(74, 74, 74, 0.12);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: rgb(33, 33, 33);
  display: block;
  outline: none;
  padding: 8px 0;
  font-size: 14px;
}

.label {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6c717b;
  font-size: 12px;
  display: block;
}

.toolbox-date-picker-input {
  & label {
    opacity: 0;
  }
  & input {
    z-index: 2;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -29px;
    bottom: -8px;
    color: transparent;
  }
}

.toolbox-date-picker-wrapper {
  position: relative;
  margin-top: -30px;
}
