@import "react-toolbox/lib/variables";

.input-with-icon {
  position: relative;
  width: 100%;

  & input,
  & label {
    padding-left: 36px;
  }

  & label {
    font-size: 14px;
  }

  & input:not(:focus) + span + label {
    font-style: italic;
  }

  & input {
    background: var(--color-white);
    border: 1px solid #C5CFDA;
    border-radius: 4px;
    font-size: 18px;
    height: 40px;
    padding-right: 36px;
  }

  & input:focus ~ label {
    padding-left: 0;
  }

  & .input-wrapper {
    width: 100%;
  }

  & .icon {
    bottom: 31px;
    left: 12px;
    position: absolute;
    z-index: 1;

    &.back-icon {
      cursor: pointer;
      display: inline-block;
      left: auto;
      opacity: .7;
      right: 0;
      transform: rotate(45deg) scale(.7) translate(3px, 3px);
      width: 24px;

      & span:first-of-type {
        display: none;
      }

      &:hover {
        & span:first-of-type {
          display: block;
        }

        & span:last-of-type {
          display: none;
        }
      }
    }
  }
}
