@import "react-toolbox/lib/variables";

.expandable-button {
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #1b87c7;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.content {
  color: var(--button-disabled-text-color);
}

.label {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: var(--button-disabled-text-color);
  font-weight: bold;
}

.wrappable-value {
  word-break: break-all;
}


.greyed-input {
  color: #6c717b;
  margin-top: -10px;
  margin-bottom: 14px;
  display: inline-block;
}

.disabledInput > div > input {
    display: none;
}
