@import "react-toolbox/lib/variables";

.expandable-button {
  color: #1B87C7;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.content {
  color: var(--button-disabled-text-color);
}

.label {
  color: var(--button-disabled-text-color);
  font-size: 13px;
  font-weight: bold;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrappable-value {
  word-break: break-all;
}

.greyed-input {
  color: #6C717B;
  display: inline-block;
  margin-bottom: 14px;
  margin-top: -10px;
}

.disabledInput > div > input {
  display: none;
}
