.page-wrapper {
  max-width: calc(1024px - 26px);
  min-height: calc(100vh - 16px - 80px - 60px - 16px);
  margin: auto;
  @media only screen and (max-width: 1024px) {
    margin: 16px;
  }
  margin-top: 16px;
  .scrollable-table {
    table {
      //table-layout: auto !important;
    }
  }

}

.filter-button {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  list-style-type: none;
  li {
    cursor: pointer;
    margin-right: 8px;
  }
}
