@import "react-toolbox/lib/variables";

.button {
  cursor: pointer;
  text-transform: none;
  border-radius: 4px;
  font-size: 13px;

  & path {
    transition: fill 0.2s var(--animation-curve-default),
  }

  &:not(.primary):not([disabled]) {
    color: var(--color-primary-dark);
    & path {
      fill: var(--color-primary-dark);
    }
    &:hover:not([disabled]), &:focus {
      color: var(--color-white);
      background: var(--color-primary);
      & path {
        fill: var(--color-white);
      }
    }
  }

  &.primary {
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    &:hover:not([disabled]), &:focus {
      background: var(--color-primary-dark);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    pointer-events: all;
  }
}
