.button {
  cursor: pointer;
  text-transform: none;
  border-radius: 4px;
  font-size: 13px;

  &:not(.primary):not([disabled]) {
    color:  #004890;
    & path {
      fill: #004890;
    }
    &:hover:not([disabled]), &:focus {
      color:  white;
      background: #0077c8;
      & path {
        fill: white;
      }
    }
  }

  &.primary {
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    &:hover:not([disabled]), &:focus {
      background: #014990;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    pointer-events: all;
  }
}
