@import "react-toolbox/lib/variables";

.label {
  color: var(--button-disabled-text-color);
  font-size: 13px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inputElement {
  color: black;
  font-size: 14px;
}

.input.disabled {
  & .inputElement {
    border-bottom: none;
    color: var(--button-disabled-text-color);
    margin-bottom: 1px;
  }

  & .label {
    font-weight: bold;
  }
}

.input.withIcon {
  margin-left: 28px;

  & input + span {
    color: var(--button-disabled-text-color);
    left: -43px;
    position: absolute;
  }
}
