@import "react-toolbox/lib/button/theme.css";

.page-wrapper {
  margin: auto;
  margin-top: 16px;
  max-width: 1024px;

  & hr {
    border: none;
    border-bottom: 0.5px solid rgba(74, 74, 74, 0.12);
  }

  @media only screen and (max-width: 1024px) {
    margin: 16px;
    max-width: calc(100% - 16px - 16px);
  }

  & .edit-asset-page-content {
    display: flex;
    padding: 16px;
  }

  & .asset-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > section {
      width: 48%;

      &.multiline {
        width: 100%;
      }
    }
  }
}

.header {
  background-color: #faf9f9;
  color: #4a4a4a;
  font-size: 12px;
  padding: 10px;

  & a {
    color: var(--color-primary);

    &:hover {
      color: #014990;
    }
  }

  & .dot {
    background-color: #4a4a4a;
    border-radius: 3px;
    display: inline-block;
    height: 3px;
    margin: 5px 8px;
    width: 3px;
  }
}

.asset-number-header {
  color: #014990;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
}

.greyed {
  color: var(--button-disabled-text-color);
  font-size: 12px;
  font-style: italic;
}

.bottom-buttons {
  align-items: center;
  display: flex;
  width: 100%;

  &.left {
    justify-content: flex-end;
  }

  & a {
    margin-right: 16px;
  }
}

.cancel-button {
  border: 1px solid #0077c8;
  width: 100px;
}

.custom-error {
  color: rgb(222, 50, 38);
  display: block;
  font-size: 12px;
  margin-top: 8px;
}

.paired-unique {
  background-color: #faf9f9;
  border: 1px solid #dcdcdc;
  margin: 8px -8px;
  padding: 16px 8px 0;

  & .header {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  &.barcodeError {
    border-color: red;

    & .header {
      color: red;
    }
  }

  & .paired-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > section {
      width: 48%;
    }
  }
}
