.input-wrapper {
  align-items: center;
  background-color: #faf9f9;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  height: 365px;
  justify-content: center;
  min-width: 283px;
  overflow: hidden;
  position: relative;
  width: 283px;

  & i {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 6px;
    text-align: center;
  }

  & span {
    font-size: 45px;
  }

  & img {
    max-height: 100%;
    max-width: 100%;
  }

  &:hover:not(.isView) {
    background-color: #eeeded;
    cursor: pointer;

    & .buttons {
      visibility: visible;
    }
  }
}

.buttons {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;

  & .background {
    background: linear-gradient(-180deg, #fff 0%, #014990 100%);
    bottom: 0;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
  }

  & button {
    color: white !important;
  }
}
