:global .notification-enter {
  opacity: .01;
}

:global .notification-enter.notification-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

:global .notification-leave {
  opacity: 1;
}

:global .notification-leave.notification-leave-active {
  opacity: .01;
  transition: opacity 300ms ease-in;
}

.notification-wrapper {
  max-width: 600px;
  min-width: 300px;
  position: fixed;
  right: 20px;
  top: 40px;
  z-index: 2;

  & .text-wrapper {
    align-items: center;
    display: flex;

    & span {
      margin-right: 6px;
    }
  }

  & .notification {
    align-items: center;
    border-radius: 4px;
    color: white;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 16px 8px;

    &:global {
      &.success {
        background-color: #78BE20;
      }

      &.error {
        background-color: #FC6061;
      }
    }
  }
}

