@import "react-toolbox/lib/variables";

.page-header {
  background: var(--color-primary-dark);
  height: 54px;
  padding-top: 24px;
}

@media only screen and (max-width: 600px) {
  .page-header {
    height: 80px;
  }

  .page-header-wrapper {
    flex-direction:column;
  }
}

.page-header-wrapper {
  display: flex;
  color: var(--color-white);
  margin: auto;
  text-decoration: none;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 1023px;
  padding-left: 14px;
  padding-right: 17px;
}
