.autocomplete-wrapper {
  position: relative;

  & .progress {
    bottom: 30px;
    height: 2px;
    position: absolute;
    z-index: 100;
  }

  &.loading {
    & input + span {
      display: none;
    }
  }
}
