.autocomplete-wrapper {
  position: relative;
  & .progress {
    position: absolute;
    bottom: 30px;
    height: 2px;
    z-index: 100;
  }
  &.loading {
    & input + span {
      display: none
    }
  }
}
