@import "react-toolbox/lib/variables";

.search-input-buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  & > div {
    width: 31%;
    &:nth-of-type(3n -1) {
      margin: 0 3.5%;
    }
  }
  & .date-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & label {
      white-space: nowrap;
    }
    & > div {
      width: 47%;
      overflow: hidden;
    }
  }
}

.search-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  padding-top: 2px;
  & button {
    width: 50%;
    max-width: 300px;
  }
}

.header {
  font-size: 16px;
  color: var(--appbar-color);
}

.search-inputs-card {
  position: relative;
  background: var(--palette-blue-grey-50);
  padding: 16px
}

.blue-text-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color-primary);
  cursor: pointer;
  & > div {
    vertical-align: middle;
    &:hover {
      color: var(--appbar-color);
    }
  }
  & .icon {
    margin-left: 4px;
    font-size: 19px;
    display: inline-block;
    vertical-align: middle;
  }
}

.input-with-button {
  display: flex;
  justify-content: space-between;
  & .search-button-wrapper {
    margin-left: 32px;
    & button {
      width: 200px
    }
  }
}

.blue-button {
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.date-inputs {
  display: flex;
  flex-wrap: wrap;
  width: 31%;
  justify-content: space-between;
  & > * {
    width: 45%;
    overflow: hidden;
  }
}

.greyed-helper-text {
  font-size: 12px;
  font-style: italic;
  color: var(--button-disabled-text-color);
  margin-top: -12px;
  margin-left: 2px;
  margin-bottom: 16px
}

.absolute-loader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
}

.date-error {
  width: 100%!important;
  color: red;
  text-align: center;
  margin-top: -13px;
  font-size: 12px;
  & span {
    white-space: nowrap;
  }
}
