@import "react-toolbox/lib/variables";

.search-input-buttons {
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > div {
    width: 32%;
  }
}

.search-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  padding-top: 2px;

  & button {
    max-width: 300px;
    width: 50%;
  }
}

.header {
  color: var(--appbar-color);
  font-size: 16px;
}

.search-inputs-card {
  background: #faf9f9;
  box-shadow: 0 0 0.3px rgba(0, 0, 0, 0.3);
  overflow: visible;
  padding: 16px;
  position: relative;
}

.blue-text-buttons {
  box-shadow: 0 0 1px #004890 !important;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: space-between;

  & > div {
    vertical-align: middle;

    &:hover {
      color: var(--appbar-color);
    }
  }

  & .icon {
    display: inline-block;
    font-size: 19px;
    margin-left: 4px;
    vertical-align: middle;
  }
}

.input-with-button {
  display: flex;
  justify-content: space-between;

  & .search-button-wrapper {
    margin-left: 32px;

    & button {
      width: 200px;
    }
  }
}

.blue-button {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
}

.greyed-helper-text {
  color: var(--button-disabled-text-color);
  font-size: 12px;
  font-style: italic;
  margin-bottom: 16px;
  margin-left: 2px;
  margin-top: -12px;
}

.absolute-loader {
  bottom: -1px;
  left: 0;
  position: absolute;
  right: 0;
}
