.search-input-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  & > div {
    width: 30%;
  }
  .date-inputs {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > div {
      width: 45%;
      overflow: hidden;
    }
  }
}

.search-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  & > div {
    button {
      background: #0084CD!important;
      color: white;
    }
    width: 50%;
    max-width: 300px;
  }
}

.search-inputs-card {
  background: #FBF9F9!important;
}
