@import "react-toolbox/lib/variables";

.checkbox-wrapper {
  margin-top: -8px;
  max-height: 244px;
  overflow-y: auto;
}

.checkbox {
  cursor: pointer;
  height: auto;
  margin: 0;
  padding: 8px 18px;

  &:first-of-type {
    padding-top: 24px;
  }

  &:last-of-type {
    padding-bottom: 18px;
  }

  &:hover {
    background: var(--palette-blue-grey-50);
  }
}

.show-columns-button {
  color: #0077c8 !important;
  font-size: 14px;

  & path {
    fill: #0077c8 !important;
  }

  &:hover:not([disabled]),
  &:focus {
    background: #0077c8 !important;
    color: white !important;

    & path {
      fill: white !important;
    }
  }
}
