@import "react-toolbox/lib/variables";

.checkbox-wrapper {
  max-height: 244px;
  overflow-y: auto;
  margin-top: -8px;
}

.checkbox {
  padding: 8px 18px;
  margin: 0;
  height: auto;
  cursor: pointer;
  &:first-of-type {
    padding-top: 24px;
  }
  &:last-of-type {
    padding-bottom: 18px;
  }
  &:hover {
    background: var(--palette-blue-grey-50);
  }
}


