@import "react-toolbox/lib/variables";

.checkbox-wrapper {
  max-height: 244px;
  overflow-y: auto;
  margin-top: -8px;
}

.checked {
}

.checkbox {
  padding: 8px 18px;
  margin: 0;
  height: auto;
  cursor: pointer;
  &:first-of-type {
    padding-top: 24px;
  }
  &:last-of-type {
    padding-bottom: 18px;
  }
  &:hover {
    background: var(--palette-blue-grey-50);
  }
}

.show-columns-button {
  font-size: 14px;
  color: #0077c8 !important;
  & path {
    fill: #0077c8 !important;
  }

  &:hover:not([disabled]),
  &:focus {
    color: white!important;
    background: #0077c8!important;
    & path {
      fill: white !important;
    }
  }
}
