@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeue-bold.eot');
  src: url('./assets/fonts/HelveticaNeue-bold.woff2') format('woff2'),
  url('./assets/fonts/HelveticaNeue-bold.woff') format('woff'),
  url('./assets/fonts/HelveticaNeue-bold.ttf') format('truetype'),
  url('./assets/fonts/HelveticaNeue-bold.eot?#iefix') format('embedded-opentype');
}

.app {
  font-family: "HelveticaNeue", sans-serif;
}

.app-version {
  position: fixed;
  bottom: 3px;
  right: 5px;
  font-size: 12px;
  font-weight: bold;
  color: grey;
  text-shadow: 1px 1px 1px white, 0 0 1em black;
}
