@import "react-toolbox/lib/variables";

.app {
  font-family: var(--preferred-font);
}

.app-version {
  bottom: 3px;
  color: var(--palette-blue-grey-50);
  font-size: 12px;
  font-weight: bold;
  position: fixed;
  right: 5px;
  text-shadow: 1px 1px 1px white, 0 0 1em black;
}
