@import "react-toolbox/lib/variables";

.app {
  font-family: 'Roboto', sans-serif;
}

.app-version {
  position: fixed;
  bottom: 3px;
  right: 5px;
  font-size: 12px;
  font-weight: bold;
  color: var(--palette-blue-grey-50);
  text-shadow: 1px 1px 1px white, 0 0 1em black;
}
