.custom-tooltip.no-arrow {
  &:global {
    &.rc-tooltip {
      & .rc-tooltip-content {
        transform: translate(0, 0px);
        & .rc-tooltip-inner {
          border-radius: 0;
          box-shadow: 0 0 7px rgba(0,0,0,0.5);
          padding: 16px 16px;
        }
        & .rc-tooltip-arrow {
          visibility: hidden !important;
        }
      }
    }
  }
}

.custom-tooltip:global {
  &.rc-tooltip {
    background: none;
    & .rc-tooltip-content {
      transform: translate(0, -11px);
    }

    & .rc-tooltip-inner {
      padding: 4px 8px;
      border-radius: 4px;
      font-family: 'Roboto';
      border: none;
      font-size: 13px;
      color: #52555b;
      min-height: inherit;
      box-shadow: 2px 2px 0 #dedede;
    }

    & .rc-tooltip-arrow {
      bottom: -10px;
      margin-left: -10px;
      border-width: 10px 10px 0;
      border-top-color: #dedede;
      &::after {
        display: block;
        content: ' ';
        margin-left: -9px;
        margin-top: -11px;
        width: 0;
        height: 0;
        border: 9px solid transparent;
        border-top-color: white;
      }
    }
  }
}
