@import "react-toolbox/lib/variables";

.custom-tooltip.no-arrow {
  &:global {
    &.rc-tooltip {
      & .rc-tooltip-content {
        max-width: 300px;
        transform: translate(0, 0);

        & .rc-tooltip-inner {
          border-radius: 0;
          box-shadow: 0 0 7px rgba(0, 0, 0, .5);
          padding: 16px;
        }

        & .rc-tooltip-arrow {
          visibility: hidden !important;
        }
      }
    }
  }
}

.custom-tooltip:global {
  &.rc-tooltip {
    background: none;

    & .rc-tooltip-content {
      max-width: 300px;
      transform: translate(0, -11px);
    }

    & .rc-tooltip-inner {
      border: none;
      border-radius: 4px;
      box-shadow: 2px 2px 0 #DEDEDE;
      color: #52555B;
      font-family: var(--preferred-font);
      font-size: 13px;
      min-height: inherit;
      padding: 4px 8px;
      word-break: break-all;
    }

    & .rc-tooltip-arrow {
      border-top-color: #DEDEDE;
      border-width: 10px 10px 0;
      bottom: -10px;
      margin-left: -10px;

      &::after {
        border: 9px solid transparent;
        border-top-color: var(--color-white);
        content: ' ';
        display: block;
        height: 0;
        margin-left: -9px;
        margin-top: -11px;
        width: 0;
      }
    }
  }
}

.info-tip {
  cursor: pointer;

  &:not(:hover) span:last-of-type {
    display: none;
  }

  &:hover span:first-of-type {
    display: none;
  }
}
