.scrollable-table {
  width: calc(100% - 25px);
  table {
    table-layout: auto !important;
    th:first-of-type, td:first-of-type {
      border: 1px solid black !important;
      padding-left: 14px !important;
      padding-right: 0 !important;
    }
    th {
      border: 1px solid black !important;
    }
    th:last-of-type {
      border-right: none!important;
    }
  }
  & > div > div {
    overflow-x: auto !important;
  }
}

.tables-wrapper {
  display: flex;
  overflow: hidden;
}

.actions-table {
  width: 25px;
  td {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  tr {
    border: 1px solid black !important;
  }
  position: relative;

  .action:hover .action-menu {
    visibility: visible;
  }
  .action-menu {
    visibility: hidden;
    position: absolute;
    right: 1px;
    margin-top: -30px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    background: white;
  }
}



