.scrollable-table {
  width: calc(100% - 32px);
  & th, & td {
    &:first-of-type {
      border: 1px solid #D6D6D6 !important;
      padding-left: 3px !important;
      padding-right: 0 !important;
      max-width: 35px!important;
      & > div {
        transform: scale(0.8);
      }
    }
  }
  & td {
    color: #52555b;
    padding-left: 16px!important;
    padding-right: 16px!important;
    max-width: 150px;
  }

  & table {
    table-layout: auto !important;
    & th, & tr {
      border: 1px solid #D6D6D6 !important;
    }
    & th:last-of-type {
      border-right: none !important;
    }
  }
  & > div > div {
    overflow-x: auto !important;
  }
}

.tables-wrapper {
  display: flex;
  overflow: hidden;
}

.actions-table {
  width: 32px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  & td {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  & th:first-of-type, & td:first-of-type {
    display: none;
  }
  & tr {
    border: 1px solid #D6D6D6 !important;
  }
  position: relative;

  & .action {
    &:hover, &.selected {
      & .action-menu {
        visibility: visible;
      }
    }
    &.selected {
      & .action-menu {
        background: rgb(198, 221, 242);
      }
    }
  }

  & .action-menu {
    visibility: hidden;
    display: flex;
    position: absolute;
    right: 3px;
    background: white;
    margin-top: -32px;
    height: 47px;
    overflow: hidden;
    margin-left: 11px;
    padding-right: 6px;
    padding-left: 11px;
    padding-top: 6px;

    & svg path {
      fill: #858c92
    }

    & > a, & > div {
      &:hover {
        & svg path {
          fill: #014990
        }
      }
    }

    & > a {
      margin-right: 8px;
    }
  }
}

.scrollable-table, .actions-table {
  & td, & th {
    font-size: 13px !important;
  }
}
