.scrollable-table {
  width: calc(100% - 25px);
  td {
    color: #52555b;
  }

  table {
    table-layout: auto !important;
    th:first-of-type, td:first-of-type {
      border: 1px solid #D6D6D6 !important;
      padding-left: 14px !important;
      padding-right: 0 !important;
    }
    th, tr {
      border: 1px solid #D6D6D6 !important;
    }
    th:last-of-type {
      border-right: none !important;
    }
  }
  & > div > div {
    overflow-x: auto !important;
  }
}

.tables-wrapper {
  display: flex;
  overflow: hidden;
}

.actions-table {
  width: 25px;
  td {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  tr {
    border: 1px solid #D6D6D6 !important;
  }
  position: relative;

  .action:hover .action-menu {
    visibility: visible;
  }
  .action-menu {
    display: flex;
    visibility: hidden;
    position: absolute;
    right: 1px;
    transition: none;
    background: white;
    margin-top: -31px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 16px;
    & > a {
      margin-right: 8px;
    }
  }
}

.scrollable-table, .actions-table {
  tr td, th {
    font-size: 13px !important;
  }
}
